[2014-11-19 15:48] qkhhly opened #1 "Cubature Package in Ubuntu 14 with Python 2.7"
Hi,

I am using Anaconda python 2.7. I installed the cubature without any error. But when I try to import the package I got the following error:

[code]

What can I do to resolve the issue?

[2014-11-19 16:05] #1 closed, assigned to nobody

[2014-12-08 18:23] scku208 opened #2 "Should _cubature.c exist??"
Hi,
    I am sorry if I misunderstanding. ( and for my broken English... )
    I follow the Installation, and notice:
        "If you are changing the _cubature.pyx file, you must have Cython installed in order to create a
         new _cubature.c file."
    Does it mean if I don't change _cubature.pyx and I have no Cython installed, I still can use this
        packages??
    Like cubature/setup.

[2014-12-10 21:35] #2 closed, assigned to nobody

[2015-08-24 11:12] gunterhermann opened #5 "Pre-defined grid for Integration"
Dear all,

first, I want to use cubature for the integration of a certain function and then, I want to extract the used grid for this integration. In the following, I want to apply this grid for the integration of similar functions.
Is it possible with Cubature or with the Python wrapper for Cubature to solely perform the integration step with this pre-defined grid?

Thanks in advance for your hel

[2015-08-24 11:15] saullocastro commented on #5
Dear Günter,

I'll check that for you and give you a feedback soon.

Best Regards,
Saullo Castro
On Aug 24, 2015 8:12 AM, "gunterhermann" <notifications@github.com> wrote:

[2015-08-31 02:12] saullocastro commented on #5
@gunterhermann  unfortunately it is not possible to use a pre-defined grid of points in a direct and easy way.

As explained here:

https://github.com/saullocastro/cubature/blob/master/cubature/cpackage/README#L96

you would have to generate a file like the clencurt.h:

https://raw.githubusercontent.com/saullocastro/cubature/master/cubature/cpackage/clencurt.h

containing the points and respective

[2015-08-31 02:18] saullocastro opened #6 "Update cpackage to version 1.0.2"
As informed here:

http://ab-initio.mit.edu/wiki/index.php/Cubature

there is a newer version of the cpackage that we are wrapping. This should be updated in order to get the best from Steven Johnson's Cubature implementation.

[2015-09-11 01:57] #5 closed

[2015-09-26 18:14] amrit-poudel opened #7 "error during build"
I get the following error when I try to build cubature.

python setup.py build
*******************************
gcc: cubature/_test_integrands.c: No such file or directory
gcc: no input files
*********************************
Why is test_integrands.c file missing?

Also,  can this library be used to integrate functions that are defined in C and are callable from python using ctypes?

[2015-09-26 18:18] saullocastro commented on #7
@amrit-poudel , could you please try to run

    python setup.py install

instead?

[2015-09-26 18:26] saullocastro commented on #7
@amrit-poudel  thank you for your feedback

I just fixed it. There were two testing functions there weren't working with common C libraries.

To compile in place (without copying to PythonXX/Lib/site-packages) use:

    python setup.py build_ext --inplace clean

and to install

    python setup.py install

[2015-09-26 19:14] #6 closed

[2015-09-26 19:14] saullocastro commented on #6
closed with commit

https://github.com/saullocastro/cubature/commit/57e25889cd4f94a7265777f8d7e331c7e51ec21c

[2015-09-26 20:33] amrit-poudel commented on #7
I tried

python setup.py build
python setup.py install  --prefix=/to/some/folder

but it tires to  create a folder  called  "test-easy-install-17516.write-test' in  lib/python2.7/site-packages/.

Not sure  what is going on here.

[2015-09-26 20:39] saullocastro commented on #7
@amrit-poudel  I found [this thread in Stackoverflow that explains that](http://stackoverflow.com/q/7622562/832621). You have to do:

    sudo python setup.py install --prefix=/to/some/folder

[2015-09-26 20:41] amrit-poudel commented on #7
I do not have sudo access!

[2015-09-26 20:42] saullocastro commented on #7
Then, could you try:

    python setup.py install --home=/to/some/folder/inside/your/home/dir

[2015-09-26 20:51] amrit-poudel commented on #7
Does not work. It says the directory  does NOT support .pth files.

I have put the folder in PYTHONPATH

[2015-09-26 20:53] saullocastro commented on #7
@amrit-poudel did you solve it by defiing PYTHONPATH?

[2015-09-26 20:55] amrit-poudel commented on #7
Nope. it has not worked for me yet.  Thanks for your suggestions!

[2015-09-26 20:56] amrit-poudel commented on #7
Why does python setup.py install --prefix=/wherever/I/want  not work ?

[2015-09-26 20:57] saullocastro commented on #7
good question... what if you point `PYTHONPATH` to `/wherever/you/want`?

[2015-09-26 20:59] amrit-poudel commented on #7
I have PYTHONPATH pointed to /wherever/I/want, but that still does not work. I do not get any error but I do not see any shared object under python2.7/site-packages either, which means the library did not get installed properly, I assume.

[2015-09-26 21:07] amrit-poudel commented on #7
I specified full path to the folder in --prefix, and this seems to install the library, but I am just not sure if this is the complete installation.

Is pytest required to run test? Is it not possible to run unit test using nose?

[2015-09-26 21:09] saullocastro commented on #7
Currently the tests will run only with `pytest`. To be sure if the installation worked, go to your `--prefix` folder and look for `.pyd` files. If they are there, it compiled the modules successfully.

How did you manage to install with `prefix`, I tried here and couldn't, even using the full path.

[2015-09-26 21:12] amrit-poudel commented on #7
I knew it was not a complete installation. That file you pointed out is missing under /python2.7/site-packages folder (or any other folder for that matter).

Specifying full path in --prefix does not throw any error during install, but  .pyd file is missing.

I am confused.

[2015-09-26 21:17] saullocastro commented on #7
since you are in LInux, are there any `.so` files instead of `.pyd`?

[2015-09-26 21:17] amrit-poudel commented on #7
No shared files, as I mentioned before.

[2015-09-26 21:21] amrit-poudel commented on #7
I do not get any error during install, but shared file is missing. Why?

[2015-09-26 21:28] saullocastro commented on #7
I'm trying to find out. On Windows, if you want it installed to C:\Temp\Lib\site-packages you have to do:

    set PYTHONPATH=C:\Temp\Lib\site-packages
    python setup.py install --prefix="C:\Temp"

and it creates an importable egg there. Could you try it similarly in Linux?

[2015-09-26 21:30] amrit-poudel commented on #7
cubature-0.13.0.dev0-py2.7-linux-x86_64.egg easy-install.pth site.py site.pyc

These files, which includes .egg file, are also created in Linux.

But where is the .so file?

[2015-09-26 21:31] saullocastro commented on #7
@amrit-poudel  unpack the .egg file to see the shared objects

[2015-09-26 21:34] amrit-poudel commented on #7
easy_install somefile.egg  gives me error because i do not have sudo access

[2015-09-26 21:52] saullocastro commented on #7
@amrit-poudel  since we solved this installation issue, I kindly ask you to create a new issue for your new question

[2015-09-26 21:52] #7 closed

[2015-09-26 21:56] saullocastro commented on #7
The final solution was.

    set prefix=anydirectory
    set PYTHONPATH=%anydirectory%\Lib\site-packages;%PYTHONPATH%
    mkdir %anydirectory%
    python setup.py install --prefix="%anydirectory%"

It will create an `.egg` file that will go to `%anydirectory%\Lib\site-packages`. This file can be unzipped to obtain the importable module, OR, the full path to this `.egg` can be added to `PYTHONPATH`

[2015-09-29 17:45] amrit-poudel opened #8 "import cubature error"
I get the following error when I try to import cubature.

ImportError: /home/somedir/.python-eggs/cubature-0.13.0.dev0-py2.7-linux-x86_64.egg-tmp/cubature/_cubature.so: undefined symbol: hcubature

I import cubature like this:

from cubature import cubature

Then, I use it in the following way:

out = cubature(func, ndim, fdim, xmin, xmax, args=(wd, widthd, wa, widtha), vectorized=True)

I do not

[2015-09-29 18:06] amrit-poudel opened #9 "vectorized cubature example"
This vectorized function definition in your example folder is not consistent.

https://github.com/saullocastro/cubature/blob/master/examples/ex_volumes.py

def integrand_ellipsoid_v(x_array, a, b, c):
    rho = np.array(x_array[:, 0])
    phi = np.array(x_array[:, 1])
    theta = np.array(x_array[:, 2])
    return a*b*c*rho**2*sin(theta)

Vectorized function should also have npts as its argument,

[2015-09-29 18:32] amrit-poudel commented on #8
I could not fix this error. Could  you help what is going on here?

[2015-09-29 21:07] saullocastro commented on #8
@amrit-poudel  Cython is not needed to import, only to convert the .pyx to .c.

Could you please paste here the script you're trying to run? I will be glad to check that for you.

[2015-09-29 21:09] amrit-poudel commented on #8
That for the reply. I am not running any script.

When I type  import cubature I get this following error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "build/bdist.linux-x86_64/egg/cubature/__init__.py", line 3, in <module>
  File "build/bdist.linux-x86_64/egg/cubature/cubature.py", line 2, in <module>
  File "build/bdist.linux-x86_64/egg/cubature/_cubature.py",

[2015-09-29 21:20] saullocastro commented on #8
@amrit-poudel   I can import the module here without problems. I just submitted a small bug correction that might be the reason for your import error. Could you please update your local repository and try again?

[2015-09-29 21:29] saullocastro commented on #9
The example is correct and the documentation for the vectorized function is outdated.

Passing `npt` isn't necessary since numpy would perform any operation using the input array without the need to know its size (even here we could use the `shape` attribute to know its size).

I will update the documentation and fix this bug.

[2015-09-29 21:31] saullocastro commented on #9
@# I will follow your advice and adopt for a vectorized function the input in the form if a 2D array

[2015-09-29 21:32] amrit-poudel commented on #9
Thanks for the update!

[2015-09-29 21:33] saullocastro commented on #9
@amrit-poudel  if you see the example here

https://github.com/saullocastro/cubature/blob/master/examples/ex_volumes.py#L18

it will become clear that for a vectorized function the input array is already a 2D array with shape (npt, ndim)

[2015-09-29 21:34] amrit-poudel commented on #8
I did  that, but I still cannot import the cubature!!

[2015-09-29 21:51] saullocastro commented on #8
I'm trying to fix here

[2015-09-29 22:38] saullocastro commented on #8
@amrit-poudel  I just submitted another commit. I hope it will work now

[2015-09-29 22:50] saullocastro commented on #9
Closed with commit  https://github.com/saullocastro/cubature/commit/2b0216c0d4a307a14ee7fb41bf1244f94de87125

[2015-09-29 22:50] #9 closed

[2015-09-29 23:27] amrit-poudel commented on #8
It does not work!

[2015-09-30 00:12] saullocastro commented on #8
Could you please make a test:
- compile with `python setup.py build_ext --inplace clean`. This will compile where the downloaded repository is.
- Then, open python in the root folder of this repository. Do:

    import cubature
    execfile('./examples/ex_volumes.py')

I want to see if there is something tricky with python setup.py install.

Cheers

[2015-09-30 00:55] amrit-poudel commented on #8
Nope! Did not work-- same error.

cubature-master is the directory where I have the source code.

cd cubature-master
 python setup.py build_ext --inplace clean

Then, from the same folder I called
python

ImportError: cubature/_cubature.so: undefined symbol: hcubature

[2015-09-30 01:14] antonl commented on #8
@saullocastro Do you use python 2.7?

The reason I ask is that when I pulled your master a few minutes ago, I also could not execute ```build_inplace```. After deleting the ```*.c``` files and re-```cython```izing them the build completed and it passed all of the unit-tests.

@amrit-poudel not that it should matter, but what versions of cython, python are you using?

[2015-09-30 01:38] amrit-poudel commented on #8
@antonl  I do not have cython installed (but I can install if that is required for cubature, but I was told it is not required to import cubature). I am using python 2.7.

[2015-09-30 02:08] saullocastro commented on #8
@antonl I do have Python 2.7, but 64-Bit, and running on Windows.... perhaps it will be a good idea to remove all the `*.c`

[2015-09-30 02:16] antonl commented on #8
It shouldn't be required, but I wonder if the code that cython generates is different on python 2.7 vs python 3.4.

I made a virtual environment with python 2.7, cython and pytest and tried running build-inplace. Because I had just built everything for python 3.4, I did not need to cythonize I also could not get it to work, though my error was different (I'm on OS X)
[code]
After that, I tried rem

[2015-09-30 02:18] saullocastro commented on #8
@amrit-poudel  I found some discussions about this like:

http://stackoverflow.com/q/23391144/832621

but I believe @antonl 's suggestion is the best option. Try to install Cython in your Linux system and create the `.c` files.

@antonl  here I also have 4 functions failing the test...

[2015-09-30 02:23] saullocastro opened #10 "Decide whether to keep the `*.c` files or not..."
@antonl  I created this issue to track conversations regarding this decision.

If we find out it will be tricky to keep the `*.c` compatible with different Python versions, I think we should remove them...

[2015-09-30 02:25] saullocastro opened #11 "Create an independent cubature account in GitHub (like we find for numpy, scipy etc)"
@antonl  since this is getting bigger, I itend to move the repository to a new GitHub account called "cubature" and add we both as admin.

What do you think?

[2015-09-30 02:26] saullocastro commented on #11
I've done this already for the repositories below:

https://github.com/desicos/desicos
https://github.com/compmech/compmech

[2015-09-30 02:29] saullocastro commented on #11
If we decide to do this the change should be definitive after we communicate Prof. Steven G. Johnson to change [this wiki](http://ab-initio.mit.edu/wiki/index.php/Cubature).

[2015-09-30 02:55] antonl commented on #8
I am running python 3.4 and have all tests passing. Upon switching to 2.7, I get some failing tests, but I suspect that the problem is really dumb - python 3 has floating point division by default, and I've stopped including ```from __future__ import division```.

One noticeable thing is the that the unit tests run significantly slower than before, about four times slower. To compare, I checked ou

[2015-09-30 03:04] antonl commented on #10
Yes, I'd prefer not to keep them under version control. Switching branches and commits is really annoying right now because git complains about modifications to a huge file. Instead, I think we can generate these files for releases and have people download those instead of cloning master. I think it is not unreasonable to expect that if somebody clones the repo they should have the tools to build

[2015-09-30 03:09] antonl opened #12 "Unit tests failing on python 2.7"
A few unit tests are failing when running the test suite under python 2.7. This turns out to be because of integer division. This is not a problem under python 3.

[code]

Here is a diff that makes the unit tests pass
[code]

This just needs a patch.

[2015-09-30 03:13] antonl commented on #11
Sure, that sounds fine. That would make a few things easier and also allow us to mirror the cubature code there (with permission of course).

[2015-09-30 09:34] saullocastro commented on #8
These warnings are just due to an include I put there trying to solve the
import error reported in this issue.

About the slowness. I posted a SO answer that explains the mutual
dependency between future __division__ and Cython cdivision directive. We
should stick to the latter only.
On Sep 29, 2015 11:56 PM, "Anton Loukianov" <notifications@github.com>
wrote:

[2015-09-30 09:36] saullocastro commented on #8
@antonl This is the SO answer I mentioned above
http://stackoverflow.com/a/23887259/832621

[2015-09-30 09:39] saullocastro commented on #11
There will be a problem, there is a user https://github.com/cubature already...

[2015-09-30 09:41] saullocastro commented on #11
Anywaz @antonl  I added you as a collaborator so you won't need so submit a pull request to perform any changes. You can directly commit to the master repository instead.

[2015-09-30 09:43] saullocastro commented on #10
Good Idea, I'll remove the `*.c` files

[2015-09-30 09:52] #10 closed

[2015-09-30 19:17] amrit-poudel commented on #8
I installed cython (version 0.22), put that on $PYTHONPATH and then installed cubature. I did not install anaconda-- it is too clunky.

Then I built cubature package following the standard build-install sequence:

python setup.py build
python setup.py --prefix=/whereverIwant

Finally, I was able to import cubature without that ugly error I encountered before.

Next, I would not like to test some c

[2015-09-30 20:55] saullocastro commented on #8
@amrit-poudel  thanks for the update, I recommend you adding a new issue for this question regarding the memory error. We can check that

[2015-09-30 20:55] #8 closed

[2015-09-30 20:55] saullocastro commented on #8
Solved by removing the distrubuted `*.c` files https://github.com/saullocastro/cubature/issues/10

[2015-09-30 22:55] #11 closed

[2015-10-01 17:27] antonl opened #13 "Continuous integration tests"
It would be nice to implement continuous integration tests to catch bugs like #12 early. Travis CI is free for open-source projects; we should consider adding the appropriate hooks to our commits.

[2015-10-01 17:52] antonl commented on #8
@amrit-poudel cubature is almost certainly is not giving you the right answer. Are you integrating a particularly oscillatory function, or is your tolerance set too high?

Although I think it should be straightforward to install pytest into your environment (```pip install pytest```), I recently pushed a commit (@cc289f3de) that allows you to use ```nosetests``` to run the testsuite. Turns out the

[2015-10-01 18:18] amrit-poudel commented on #8
I am integrating oscillatory multivariate integral. I will open new thread if i cannot resolve it myself.

@antonl, I have only tested using execfile('./examples/ex_volumes.py') and these simple tests passed. I have not tested other cases.

I will try to copy the updated test files and run the test cases, w/o installing pytest (I don't have anything against pytest--it is  just that I don't want to

[2015-10-01 21:17] saullocastro commented on #13
I fully support your opinion. Let's start to work on this! I'll have a look
how does Travis CI works...
On Oct 1, 2015 2:27 PM, "Anton Loukianov" <notifications@github.com> wrote:

[2015-10-01 21:44] antonl commented on #8
What I meant was that nosetests works now as well as pytest. You should be able to just pull the current master and run ```nosetests``` in the directory containing the ```test_*.py``` files. This will run the unit tests that we already have.

[2015-10-01 21:46] antonl commented on #13
It seems pretty easy to setup, but I think you have to do it. I tried this morning, but it can only access my accounts. I can play with it in my fork for the time being though.

[2015-10-01 21:52] saullocastro commented on #13
Now you can do it too, you are admin of this repository

2015-10-01 18:46 GMT-03:00 Anton Loukianov <notifications@github.com>:

[2015-10-01 22:37] antonl commented on #13
Yes, but because you're the owner, this repo doesn't show up on Travis CI on my account.

[2015-10-01 22:54] saullocastro commented on #13
Thanks for explaining... I am configuring it right now

[2015-10-01 23:08] saullocastro commented on #13
Ok @antonl  it is already active, we just need to configure the .travis.yml file.

[2015-10-03 20:43] antonl commented on #12
Somehow the from future division line was removed.

[2015-10-03 20:45] saullocastro commented on #12
I can see it right here https://github.com/saullocastro/cubature/blob/master/test_cubature.py#L1

[2015-10-03 20:51] antonl commented on #12
Fixed with @f2a837ab.
@saullocastro I just pushed that. Should have closed the commit from the commit message.

[2015-10-03 20:51] #12 closed

[2015-10-03 20:52] antonl commented on #13
Looks like it is working now!

Travis:  [![Build Status](https://travis-ci.org/saullocastro/cubature.svg?branch=master)](https://travis-ci.org/saullocastro/cubature)

[2015-10-03 20:52] #13 closed

[2015-10-03 20:56] saullocastro commented on #13
@antonl  great! :+1:

[2015-10-03 20:57] saullocastro commented on #13
Perhaps we should release 0.13.1

[2015-10-03 20:58] antonl commented on #13
I'd like to add the "slow" cubature_two unit test back in before we do that.

[2015-10-03 21:01] saullocastro commented on #13
All right then

[2015-10-03 23:06] antonl commented on #13
Created PR #14 to add cubature_two back in.

[2015-12-11 16:06] lnmaurer opened #15 "build error: cubature/_cubature.c: No such file or directory"
I'm having trouble building cubature under Ubuntu. Do you have any advice? Below is the output from trying to build the package:

[code]

[2015-12-11 16:11] antonl commented on #15
Can you run ```sudo python setup.py build_ext --inplace``` first?

We removed the C file because it tended to cause segfaults when someone compiled the extension on a python/cython version different from the one used to create it from the ```.pyx``` file.

[2015-12-11 16:24] saullocastro commented on #15
@antonl  I should add a cythonize to this setup, similarly to what I did here https://github.com/compmech/compmech/blob/master/compmech/panel/models/setup.py#L56

[2015-12-11 16:45] antonl commented on #15
I'd say try it in a branch, and change the line [here](https://github.com/saullocastro/cubature/blob/master/.travis.yml#L29) to just do ```python setup.py install```. If the travis builds work, we should merge it.

[2015-12-11 18:42] lnmaurer commented on #15
A similar problem happens with `sudo python setup.py build_ext --inplace`:

[code]

[2015-12-11 22:13] antonl commented on #15
You should have cython installed. I don't see where the install is "cythonizing" the source files to create that ```cubature/_cubature.c``` file.

[2015-12-11 23:21] lnmaurer commented on #15
Yeah, that would do it. I had cython3 installed, but I didn't use python3 to run setup.py. Duh. Thanks for the help.

[2015-12-11 23:21] #15 closed

[2017-05-28 05:51] ohannuks opened #17 "Re: Cubature goes outside the bounds of integration box"
Hi! Sorry to bother you; I am not sure if you still work on this, but I noticed that cubature seems to try to take values which are outside the integration domain at times. In particular, I made a simple integration script setting (xmin,xmax) = (125.2414,243124) which raises an error if the integrand tries to evaluate values which are outside the integration domain. In this specific example, the i

[2017-05-28 11:26] saullocastro commented on #17
Dear Otto

I understood the error description. I'll have a look at it to see what can
be done.

Regards
Saullo

On May 28, 2017 02:51, "Otto Akseli Hannuksela" <notifications@github.com>
wrote:

Hi! Sorry to bother you; I am not sure if you still work on this, but I
noticed that cubature seems to try to take values which are outside the
integration domain at times. In particular, I made a simple i

[2017-05-28 14:45] antonl commented on #17
@saullocastro I think this may be due to the testing of the integrand function we do around
https://github.com/saullocastro/cubature/blob/master/cubature/cubature.py#L227
The value of the integrand is not actually used for anything, just to determine the size of the output vector. We could perhaps map the tested values to the (min,max) domain to avoid this issue.

@ohannuks Is the calculated integ

[2017-05-30 02:08] saullocastro commented on #17
@ohannuks  I agree with @antonl. I did a fix and now release 0.13.3 should work just fine.

[2017-05-30 02:10] #17 closed

[2017-06-02 11:29] ohannuks commented on #17
@antonl  The integral value is correct; I was just puzzled since I previously had error checking inside the integrand to make sure I was not getting nans.

@saullocastro  Many thanks! That's perfect!

[2017-09-06 19:32] alencina opened #18 "Can't use cubature"
I'm using spyder 3.1.4 from the last Anaconda distribution with Python 3.6.1 64bits.

I'm installed cubature at the site-package directory by the command python setup.py install

I try to run the example ex_areas.py and found the following error:

 runfile('D:/ex_areas.py', wdir='D:/')
Traceback (most recent call last):

  File "<ipython-input-8-a8b50c5fd9f4>", line 1, in <module>
    runfile('D:/

[2017-09-06 21:09] alencina commented on #18
I figure out I have problem with the installation. It requires Visual Studio C++ V14.0
Now installed it but the installation doesn't work.
It appears repeatedly: "Error compiling Cython file"

[2017-09-07 09:26] saullocastro commented on #18
Dear @alencina, could you please write the whole error traceback? I'm not able to reproduce it here. Have you opened a Visual Studio CMD console?

[2017-09-07 12:21] saullocastro commented on #18
@alencina  could you please try to open a IPython or other Python IDE and try to run

[code]

[2017-09-07 12:46] alencina commented on #18
Dear @saulocastro, thanks for your answer.

I'll try to describe the facts:

* I downloaded the .tag.gz from pypi.python.org and extracted it at
C:\Anaconda3\Lib\site-packages.

* Following, at C:\Anaconda3\Lib\site-packages\cubature-0.13.3 run
*python setup.py install*
* After this, I opened spyder3 an run ex_areas.py:

Then, I write the issue at github. After this I realize that when the
install

[2017-09-08 01:53] saullocastro commented on #18
@alencina could you please send a copy of the outputs (full traceback error). Cheers

[2017-09-08 19:40] alencina commented on #18
@saullocastro atteched you will find the full outputs. Thanks

2017-09-07 22:53 GMT-03:00 saullocastro <notifications@github.com>:

running install
running bdist_egg
running egg_info
writing cubature.egg-info\PKG-INFO
writing dependency_links to cubature.egg-info\dependency_links.txt
writing top-level names to cubature.egg-info\top_level.txt
reading manifest file 'cubature.egg-info\SOURCES.txt'
wr

[2018-08-31 08:44] AEljarrat opened #19 "problem with tests placement?"
Dear @saullocastro
I ran into an error after cloning `cubature` and trying to run the pytest as per in the docs. I think this error has to do with the placement of the test file, because when I move the file out of the folder it works (see example below).

Disclaimer: I am using Anaconda Python.

Best regards
Alberto.

[code]

[2018-09-04 12:11] saullocastro commented on #19
Dear @AEljarrat  I will try to check that. If you would like to submit a pull request for this, please feel welcome to do so
Regards

[2018-09-04 12:12] #18 closed

[2018-09-04 14:31] #19 closed

[2018-09-04 15:43] AEljarrat opened #21 "Requesting help with integral"
Dear all,
I am looking for an efficient method for solving integrals in a 2D mesh. In this mesh, I integrate over one of the dimensions and the result is a vector with the same length as the other dimension. You can find an MEW of this problem, solved using quad and for loops, below.

I want to remove the for loop and retain the precision of using quad, and I thought that would be possible using t

[2018-09-10 07:34] AEljarrat commented on #21
Dear @saullocastro,

thanks for the detailed response. I suspected this problem could be solved with cubature, but couldn't find a way to do it myself. Since I am out of office this week, I will not be able to try your solution until next week. I will make sure to do this asap, but since you asked me to, I will close the issue for now.

I will let you know if the solution works.

Best regards,
Alb

[2018-09-10 07:34] #21 closed

[2018-09-17 07:30] AEljarrat commented on #21
Dear @saullocastro,

thank you again for your insight. I just wanted to confirm that the solution you posted worked perfectly. As promised, it is faster than the method I was using (looping quad). This is the code I have used to test this, in case anyone is interested;

[code]

[2018-11-05 13:55] AEljarrat opened #22 "Citing cubature"
Dear @saullocastro

How should we cite your work in an academic publication? I have failed to find instructions or a related paper in your documentation.

Best regards,
Alberto.

[2018-11-05 15:19] saullocastro commented on #22
@AEljarrat Please, cite the publications that used the wrapper:

Used to integrate tangent stiffness matrices in computational solid mechanics
---
Castro, S.G.P. et al. "Evaluation of non-linear buckling loads of geometrically imperfect
composite cylinders and cones with the Ritz method". Composite Structures, Vol. 122, 284-299, 2015.

Castro, S.G.P. et al. "A semi-analytical approach for linear a

[2018-11-05 15:23] saullocastro commented on #22
I will push a commit to close this one, changing the README.rst file

[2018-11-05 15:44] saullocastro commented on #22
closed with commit #f0fcfd5

[2018-11-05 15:44] #22 closed

[2019-09-06 15:43] reidmccargar opened #25 "Failed Cython compilation"
When trying to install on ubuntu 18.04, using Cython 0.29 I get the following:

(venv) mccargar@mccargar-Precision-7920-Tower:~/Downloads/cubature-0.13.3$ pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org Cython
Collecting Cython
  Downloading https://files.pythonhosted.org/packages/45/f2/a7101b3457561e57f5abcd6f5ac13190054fecd7370f58f36fe2d6574742/Cython-0.29.13-cp36-cp36m

[2019-09-10 08:45] saullocastro commented on #25
@reidmccargar  thanks for the report. I will try to check on my Ubuntu to find where the problem is

[2019-09-13 08:59] saullocastro commented on #25
@reidmccargar I think I fixed with released 0.14.1 that I just put out there. Could you try it out?

[2019-09-13 09:00] #25 closed

[2019-09-13 09:01] saullocastro opened #26 "Parallelize function calls using SMP our multi-threading"

[2019-09-13 09:02] saullocastro opened #27 "cProfile code and check if there is any performance bottleneck"

[2020-03-18 12:25] jbvsmo opened #28 "Installing from pypi fails"
I'm running this

    python3 -m pip install cubature --upgrade

Result:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/s9/lz602rh965395lw50zg7nhzh0000gn/T/pip-install-8m8jt094/cubature/setup.py", line 58, in <module>
        ext_modules = cythonize(extensions),
      File "/usr/local/lib/python3.7/site-packages/Cython/Build/Depe

[2020-03-18 14:46] saullocastro commented on #28
@jbvsmo could you try with this latest release?

[2020-03-18 15:07] jbvsmo commented on #28
@saullocastro The exact thing shows up with release 0.14.2
I tried again both on Mac and Ubuntu.

[2020-03-18 15:12] jbvsmo commented on #28
It works when I use directly from github:

    python3 -m pip install git+ssh://git@github.com/saullocastro/cubature@master

But I wanted my setup to fetch everything from pypi as using github it requires a build every time.

[2020-03-18 15:12] saullocastro commented on #28
@jbvsmo I'm trying to reproduce this error on my Ubuntu...

[2020-03-18 15:13] jbvsmo commented on #28
Try adding upgrade and force to make sure it fetches everything again:

    python3 -m pip install cubature --upgrade --force

[2020-03-18 15:32] jbvsmo commented on #28
I can reproduce by downloading the tarball and running `python3 setup.py install`
https://files.pythonhosted.org/packages/e1/d9/fc0fa29c98ecc0bb6dd74c6e0a1e73c092c5ae246af786f00329d1b9c2a1/cubature-0.14.2.tar.gz

There is really no `_cubature.pyx` inside the archive. Only `_cubature.c`

Seems like it is already preprocessed to not need cython

[2020-03-18 15:35] saullocastro commented on #28
@jbvsmo  I will change this behaviour, adding all needed to compile into the _cubature.pyx

[2020-03-18 16:44] saullocastro commented on #28
@jbvsmo  could you try what you did at the beginning, just "pip install cubature"?

[2020-03-18 16:51] jbvsmo commented on #28
Awesome! It works on Ubuntu which was my primary goal.

But on my dev environment (Mac OS) clang rejects the new flags you added at some point.

    clang: error: invalid argument '-dynamic' not allowed with '-static'
    clang: error: unsupported option '-fopenmp'

Can you roll it back?

[2020-03-18 16:54] saullocastro commented on #28
@jbvsmo I see... try with the current master branch, if it works I will create a new release

[2020-03-18 16:56] jbvsmo commented on #28
Yes, it does!
BTW, If you want to special case mac like you did for windows, use `sys.platform` instead of `os.name`

Muito obrigado!

[2020-03-19 06:50] saullocastro commented on #28
fixed with 0.14.5 release

[2020-03-19 06:50] #28 closed

[2021-07-26 18:09] surrutiaquir opened #29 "Installation error"
Thanks a lot for this package!

I think I have installed it correctly on my laptop, but every time I call it I get the following error message:

`Seba-Macbook:cubature-master surrutiaquir$ python prueba.py
Traceback (most recent call last):
  File "/Users/surrutiaquir/Downloads/cubature-master/prueba.py", line 1, in <module>
    from cubature import cubature
  File "/Users/surrutiaquir/Downloads/c

[2021-07-26 18:33] surrutiaquir commented on #29
My bad... I just needed to execute first: `sudo python setup.py build_ext --inplace`
It's working now, thanks!

[2021-07-26 19:59] saullocastro commented on #29
@surrutiaquir , it forced me to do some updates in the package. Good luck with the project!

[2021-09-07 22:49] surrutiaquir opened #30 "Ask for help with an integral"
Hi, I'm using `cubature` to integrate a very complicated function as part of my research. So far, I'm encountering some numerical instabilities in the process, and the function returns `np.nan` for very few cases. Could you let me know if the nature of the algorithm allows to "ignore" those complicated cases (i.e., returning zero when a `nan` arises) in an efficient way? I appreciate your help!

[2021-09-09 09:26] saullocastro commented on #30
Dear @surrutiaquir , I suspect this is an issue with the core C cubature package. The NaN values usually appear when you have  square root of negative numbers , or anything creating complex number out of real number algebra. Can you create a reproduceable example?

[2021-09-10 23:28] surrutiaquir commented on #30
Hi @saullocastro, It seems like the nature of the functions + the domain make the perfect combination for division by zero and overflow in some of the expressions. Following the suggestions from `StackOverflow`, I was able to write the functions so that I can avoid some of those, but not all of them. So, I'm attaching an example (I apologize for the ugly expressions). So far, this code and `Mathem

[2021-09-22 12:31] saullocastro commented on #30
@surrutiaquir I am going to your problem now (a bit late I know...). Where do you get the function rdilog from ?

[2021-09-22 12:33] saullocastro commented on #30
@surrutiaquir assuming `from scipy.special import spence

def rdilog(x):
	return spence(1-x)`

[2021-09-22 12:40] saullocastro commented on #30
@surrutiaquir clearly, there is an issue when `k=0` in the code. This error would happen in any calculation using such functions. I would recommend to create an `if` statement that can predict a new behavior when `k=0`.

[2021-09-22 15:43] surrutiaquir commented on #30
I used [this](https://github.com/nelsond/dilogarithm) implementation, but `spence` form `scipy.special` also works.

[2021-09-22 15:44] surrutiaquir commented on #30
Thank you, @saullocastro! I'll follow your advice.

[2021-09-22 22:08] #30 closed

[2022-07-19 17:25] quantumAnsatz opened #31 "Feature request: avoid limits of integration"
When integrating it is often desired to avoid the limits of integration as some functions may be ill-defined when evaluated at the endpoints.

Here is a minimal example

[code]
with the following result:
[code]
The result is correct, however along with the result, it provides a warning as cubature is evaluating the integrand at the lower bound`x=0`. For the example given here, it is harmless. Howe

[2022-07-21 06:34] saullocastro commented on #31
@quantumAnsatz thank you for the feature request

Would it be enough to use a solution whereby the user specifies to avoid the integration limits? Internally, the integration function could change the limits from `x1, x2` to `x1+tol, x2-tol`. What do you think?

A possible solution is to add another boolean parameter such as:

`cubature(integrand, 1, 1, [0], [x0], abserr=0, relerr=1.e-3, vectorize

[2022-07-22 12:30] quantumAnsatz commented on #31
@saullocastro thanks to you for this amazing module.

I think I have found the issue. For me it was uncanny that cubature h-adaptive was evaluating the functions in the limits of integration, see [Gauss–Kronrod quadrature formula](https://en.wikipedia.org/wiki/Gauss%E2%80%93Kronrod_quadrature_formula) and the README.md in the C version of cubature.

However there was a systematic check before usin

[2022-07-22 14:28] #31 closed

[2022-07-22 14:47] saullocastro commented on #31
@quantumAnsatz thank you for the contribution! I have released version 0.15.0 already incorporating this bug fix.

[2022-08-22 13:23] HJA24 opened #33 "Unable to process 2d array in _cython_cubature function"
The error occurs on line 253/254 of cubature.py.

[code]

and says the following:

[code]

I think that the function _cubature_ of _cubature/_cubature.pyx_ expects a 1d-array, but it gets provided a 2d-array. However, I am not sure which array this is and I am unable to identify the array while debugging.

My code looks as follows:

[code]

I am using Python 3.7 and cubature 0.15.0

[2022-08-22 14:17] saullocastro commented on #33
@HJA24 I checked your example. From what I could understand: your function has just one variable, right? If yes, `xmin` and `xmax` should be scalar values.  This is a working example using the non-vectorized and the vectorized solutions:

[code]

[2022-08-22 14:17] saullocastro commented on #33
@HJA24 note how the vectorized solutions need some correct array broadcasting

[2022-08-22 17:05] HJA24 commented on #33
Thank you!!

[2022-08-22 17:23] #33 closed

[2022-09-05 12:04] HJA24 opened #34 "How to deal with vectorised integration limits"
I am struggling with using `cubature.cubature` when `xmin` and `xmax` are not scalar values.

My code looks as follows:

[code]

My code is based on the code in the Appendix of this [paper](https://www.degruyter.com/document/doi/10.1515/jqas-2017-0122/html). In this paper they use the R-wrapper of cubature

![image](https://user-images.githubusercontent.com/30417550/188444131-31a9f7ec-f65a-4b20-bf

[2022-09-12 21:06] saullocastro commented on #34
Sorry for the late reply @HJA24 . I'm looking into it.

[2022-09-12 21:38] saullocastro commented on #34
@HJA24  I think I could understand your question. The vectorized feature of cubature does not allow the evaluation of multiple integration limits at once. Instead, it allows the integrator that is part of the core of `cubature` to evaluate multiple integration points at once, thus making it faster if your numerical library supports vectorisation (which is the case of NumPy).

In your example, I te

[2022-09-13 07:36] HJA24 commented on #34
Thank you for taking a look again @saullocastro! You mentioned: "_The vectorized feature of cubature does not allow the evaluation of multiple integration limits at once."_. This refers to my input of argument `xmax`  in `cubature()` right?

`xmax=np.array([self.f * (self.odds - 1) + 1 / self.odds])`

Is this the case for this particular Python wrapper of _cubature_? Because when I run the followi

[2022-09-13 12:41] saullocastro commented on #34
@HJA24 I could confirm today that there was a bug in the shape checks for `xmin` and `xmax` that were preventing the wrapper to use the full vectorized capability.

[2022-09-13 13:11] HJA24 commented on #34
Okay, glad I had a part in detecting it. Should be an easy fix right?

[2022-09-13 14:11] saullocastro commented on #34
@HJA24  it is fixed in Version 0.16.0.

You can then test with

[code]

[2022-09-13 14:12] saullocastro commented on #34
@HJA24 please check it and close the issue if everything is correct...

[2022-09-13 14:15] #34 closed